<div class="container-skills">
  <h1 class="container-skills__mainText">Current Skills</h1>
  <div class="container">
    <h5 class="container-skills__secondText">
      I am a self taught english speaker and frontend developer. I have been
      familiarized with english since i was a little kid, always googling
      something about a game, or about how to fix some problem I ran into with
      the software i currently had. Recently I’ve decided to change careers and
      dive deep into programming, mostly because many of my friends are pursuing
      the same objectives and they’re encouraged me to learn. I have made
      several courses on Udemy, I first start with The Web Development Bootcamp
      by Colt Steele and then Angular The Complete Guide by Maximilian
      Schwarzmûller, I am currently finishing many others. mostly I have worked
      in:
    </h5>
  </div>
  <div class="row">
    <div class="col 2"></div>
    <div class="col-4">
      <ul class="container-skills__lists">
        <li *ngFor="let item of technologies; let i = index">
          <h5>{{ item }}</h5>
        </li>
      </ul>
    </div>
    <div class="col-5">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-3 slide">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/240px-Angular_full_color_logo.svg.png"
          />
        </div>
        <div class="col-1"></div>
        <div class="col-3 slide">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Javascript_badge.svg/946px-Javascript_badge.svg.png"
          />
        </div>
        <div class="col-1"></div>
        <div class="col-3 slide">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1200px-Bootstrap_logo.svg.png"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3 slide">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1200px-Octicons-mark-github.svg.png"
          />
        </div>
        <div class="col-1"></div>
        <div class="col-3 slide">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/CSS.3.svg/1200px-CSS.3.svg.png"
            alt=""
            srcset=""
          />
        </div>
      </div>
      <div class="row">
        <div class="col-5"></div>
        <div class="col-2 slide">
          <img
            src="https://camo.githubusercontent.com/a1bd25907fece453efea35385a9252fc10a12258/687474703a2f2f7777772e747970657363726970746c616e672e6f72672f6173736574732f696d616765732f69636f6e732f7361666172692d70696e6e65642d7461622e737667"
          />
        </div>
        <div class="col-5"></div>
      </div>
    </div>
    <div class="col 2"></div>
  </div>
</div>
