<div class="container-contact__mainText">
  <div class="col xl 12">
    <div class="container">
      <h3>{{ text }}</h3>
    </div>
  </div>
</div>

<hr />

<div class="container">
  <ul class="container-contact__lists">
    <li class="container-contact__listItems" *ngFor="let item of items">
      <div id="{{ item.hover }}">
        <a href="{{ item.url }}"
          ><img class="container-contact__images" src="{{ item.image }}"
        /></a>
      </div>
      <div id="{{ item.stuff }}">
        <p>{{ item.text }}</p>
      </div>
    </li>
  </ul>
</div>

<input id="dark-mode-toggle" type="checkbox">

<main>
  <h1>CSS DARK MODE</h1>
  <label class="dark-mode-btn" for="dark-mode-toggle">
    <img src="https://i.imgur.com/gEE0Mge.png">
  </label>
</main>

<app-email-form></app-email-form>
