@import "../../styles/animations";

.container-contact {
  &__mainText {
    text-align: center;
  }
  &__lists {
    list-style: none outside;
    animation: slide-in 0.3s ease 1 both;
    padding-bottom: 20%;
  }
  &__listItems {
    padding-right: 5%;
    float: left;
  }
  &__images {
    height: 80px;
    width: 80px;
    max-width: 100%;
    max-height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .container-contact {
    &__images {
      height: 40px;
      width: 40px;
      max-width: 100%;
      max-height: auto;
    }
  }  
}




