.container {
  width: 80%;
  height: 80%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--background-color);
  border-radius: 6em;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.nav-tabs {
  display: none;
  padding-top: 3%;
}

.card-body {
  border: none;
  background: var(--background-color);
}

@media (min-width: 468px) {
  .nav-tabs {
    display: flex;
    flex-flow: column nowrap;
  }
  .nav-tabs {
    border-bottom: none;
    border-right: 3px solid rgb(37, 37, 37);
    display: flex;
  }
  .nav-tabs {
    margin: 0 15px;
  }
  .nav-tabs .nav-item + .nav-item {
    margin-top: 0.25rem;
  }
  .nav-tabs .nav-link {
    transition: border-color 0.125s ease-in;
    white-space: nowrap;
  }
  .nav-tabs .nav-link:hover {
    background: var(--background-color);
    border-color: transparent;
  }
  .nav-tabs .nav-link.active {
    background: var(--primary-color);
    border-color: rgb(37, 37, 37);
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-right: 0;
    border-radius: 6em;
  }
  .nav-tabs .nav-link.active:hover {
    background: var(--background-color);
    border-color: #0275d8 #fff #0275d8 #0275d8;
  }

  .card {
    border: none;
  }

  .card .card-header {
    display: none;
  }

  .card .collapse {
    display: block;
  }
}

@media (max-width: 767px) {
  .tab-pane {
    display: block !important;
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  .container {
    overflow: hidden;
  }
}
