<div class="form-container">
  <h2>Leave you message!</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSaveForm()">
    <div class="customRow">
      <input
        type="text"
        formControlName="name"
        name="fancy-text"
        id="fancy-text"
      />
      <label for="fancy-text">Name</label>
      <div
        class="alert-danger"
        *ngIf="name.invalid && (name.dirty || name.touched)"
      >
        <div class="container-error-message" *ngIf="name.errors.required">
          Name is required.
        </div>
        <div class="container-error-message" *ngIf="name.errors.minlength">
          Name must be at least 5 characters long.
        </div>
      </div>
    </div>

    <div class="customRow">
      <input
        type="text"
        formControlName="email"
        name="fancy-text"
        id="fancy-text"
      />
      <label for="fancy-text">Email</label>
      <div
        class="alert-danger"
        *ngIf="email.invalid && (email.dirty || email.touched)"
      >
        <div class="container-error-message" *ngIf="email.errors.required">
          Email is required.
        </div>
        <div class="container-error-message" *ngIf="email.errors.minlength">
          Email must be at least 5 characters long.
        </div>
        <div
          class="container-error-message"
          *ngIf="
            (email.dirty || email.touched) &&
            email.invalid &&
            email.errors.pattern
          "
        >
          Value has to be a valid email adress.
        </div>
      </div>
    </div>

    <div class="customRow">
      <textarea
        formControlName="message"
        name="fancy-textarea"
        id="fancy-textarea"
      ></textarea>
      <label for="fancy-textarea">Type here</label>
      <div
        class="alert-danger"
        *ngIf="message.invalid && (message.dirty || message.touched)"
      >
        <div class="container-error-message" *ngIf="message.errors.required">
          Message is required.
        </div>
        <div class="container-error-message" *ngIf="message.errors.minlength">
          Message must be at least 10 characters long.
        </div>
      </div>
      <button type="submit" class="btn-send" [disabled]="!contactForm.valid">
        Send
      </button>
    </div>
  </form>
</div>
