<div class="container">
  <div class="row">
    <div class="col-4 mr-auto">
      <a
        href="https://www.pdfhost.net/index.php?Action=DownloadFile&id=28fdf0307bcc1157b7e0ad1289c75d64"
      >
        <img
          class="imgManage"
          src="https://cdn.onlinewebfonts.com/svg/img_51607.png"
        />
      </a>
    </div>
    <div class="col-4 mx-auto">
      <app-toggle-button></app-toggle-button>
    </div>
    <div class="col-4 ml-auto">
      <a type="button" data-toggle="modal" data-target="#myModal">
        <img
          class="imgManage"
          src="https://www.pngrepo.com/png/19199/180/share.png"
        />
      </a>

      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Share</h4>
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
            </div>

            <div class="modal-body">
              <share-buttons
                [theme]="'circles-light'"
                [include]="[
                  'facebook',
                  'linkedin',
                  'reddit',
                  'telegram',
                  'whatsapp',
                  'email',
                  'copy'
                ]"
                [show]="7"
                [size]="1"
                [url]="'https://angular-resume-app-emirale.web.app/'"
                [autoSetMeta]="false"
              ></share-buttons>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-vertical-tabs></app-vertical-tabs>
