<div class="container">
  <div class="row">
    <div class="col">
      <app-profile-pic></app-profile-pic>
    </div>
    <div class="col">
      <ul class="container-aboutMe__lists">
        <li *ngFor="let item of personalData; let i = index">
          <h5>{{ item }}</h5>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <p>
      I’m a software enthusiast in front end languages constantly wanting to learn
      more, i have always been a fan of programming but just recently decided to
      dive into it professionally. My english skills are advanced, both in talking
      and writing. I have no corporative experience in development, just as a
      freelancer, such as making web-pages for my family business. I look forward
      to be part of a challenging team and develop my programming skills.
    </p>
    <p>Previous project: <a href="">https://cv-emir-ale.herokuapp.com/</a>
    </p>
  </div>
</div>
