:root {
  --primary-color: #fff;
  --background-color: #EBEBF0;
  --background-color2: #FAFAFC;
  --text-color: #333;
  --text-shadow: 4px 4px 4px #aaa;
  --img-source: url(https://i.imgur.com/gEE0Mge.png);
  --img-darkening: brightness(100%);
}

html,
body {
  height: 100%;
  background: var(--background-color2);
  overflow-y: hidden;
}
body {
  margin: 0;
  font-family: "Baloo Thambi 2", cursive;
  color: var(--text-color);
}

h1, h2, h3 {
  text-shadow: var(--text-shadow);
}

@media only screen and (max-width: 600px) {
  html, body {
    max-width: 400px;
    font-size: 0.8em; 
    overflow-x: hidden;
  }
}
