:root {
  --primary-color: #fff;
  --background-color: #eeeeee;
  --text-color: #333;
  --text-shadow: 4px 4px 4px #aaa;
}

html,
body {
  height: 100%;
  background: var(--background-color);
}
body {
  margin: 0;
  font-family: "Baloo Thambi 2", cursive;
  color: var(--text-color);
}

h1, h2, h3 {
  text-shadow: var(--text-shadow);
}

@media only screen and (max-width: 600px) {
  html, body {
    max-width: 400px;
    font-size: 0.8em; 
    overflow-x: hidden;
  }
}
